doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      h1
        a(href='/' class='nav-logo') TOP General Store
      ul(class='nav-links-list')
        li
          a(href='/items' class='nav-link') Items
        li
          a(href='/vendors' class='nav-link') Vendors
        li
          a(href='/categories' class='nav-link') Categories
    block content
