doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      h1(class='nav-logo')
        a(href='/') Odin General Store
      ul(class='nav-links')
        li
          a(href='/items') Items
        li
          a(href='/vendors') Vendors
        li
          a(href='/categories') Categories
    block content
